* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: var(--textcolor);
    background-color: var(--bg);
    scroll-behavior: smooth;
}

:root {
    --textcolor: rgb(255, 255, 255);
    --maincolor: rgb(255, 192, 110);
    --bg: #000000;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    color: var(--textcolor);
    padding: 20px 10% 20px 10%;
    z-index: 10;
}


.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--bg);
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navbar-nav li a {
    color: #b0b0b0;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffffff;
}

.contact-btn {
    background-color: var(--bg);
    color: var(--textcolor);
    padding: 8px 15px;
    border: 1px solid;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
    background-color: #ddd;
    color: #333;
}





.scroll {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 5%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}

.scroll div {
    white-space: nowrap;
    animation: scrolll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);

}


@keyframes scrolll {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}



.scroll div span {
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    background: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.scroll div span:hover {
    background: #282828;
    cursor: pointer;
}


.slider {
    display: grid;
    height: 250px;
    margin: auto;
    margin-top: 2%;
    position: relative;
    width: 90%;
    place-items: center;
    overflow: hidden;

}

.slide-track {
    display: flex;
    width: cal(250px*14);
    animation: scroll 40s linear infinite;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px*7));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;


    img {
        width: 100%;

    }
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgb(0, 0, 0)0%, rgba(255, 255, 255, 0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin-top: 3rem;
}

.profile {
    text-align: center;
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-image:hover {
    transition: .3s;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.name {
    line-height: 3rem;
    font-style: italic;
    font-size: 4rem;
    display: block;
    /* margin-top: %; */
    background: linear-gradient(to right, #f32170,
            #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    span {
        font-weight: 300;
        background: linear-gradient(to right, #f32170,
                #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}


.social-icons {
    /* margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    transition: 1s; */
    margin: 10px;
    display: flex;
    justify-content: center;

    li {
        font-size: 1.5rem;
        margin: 10px;
    }

    i:hover {
        color: var(--maincolor);
        transition: .3s;
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.subhed {
    h1 {
        padding-top: 1%;
        font-weight: 200;
        span{
            font-weight: 600;
        }
    }

}




.bt {
    padding: 10px 30px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(20, 20, 20);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.button-content {
    color: var(--textcolor);
}

.bt i {
    color: var(--textcolor);
}

.bt:hover {
    letter-spacing: 3px;
    background: linear-gradient(135deg, #e14848, #ff02d5);
    color: hsl(0, 0%, 100%);

    cursor: pointer;
}

.bt:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.sec2 {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec2 {
    div {
        font-weight: 200;
    }

    h1 {
        font-weight: 300;
    }
}

.content2 {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.img2 {
    img {
        width: 500px;
        mix-blend-mode: difference
    }

    div {
        line-height: 3rem;
        font-size: 4rem;
        font-weight: 200;
        display: block;
        margin-top: -6%;
        background: linear-gradient(to right, #f32170,
                #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        letter-spacing: -0.3rem;
    }
}

.img3 img {
    width: 500px;
}

.revenue-box {
    position: relative;
    width: 80%;
    margin: 0 10% 0 10%;
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 30px;

    div {
        background: #131313;
        padding: 1%;

        i {
            color: var(--maincolor);
            font-size: 2rem;
            background: transparent;
            margin-bottom: 1rem;
        }

        .analysis {
            font-size: 2rem;
        }

        div i {
            font-size: 1rem;
        }
    }
}

.for-flex {
    display: flex;
    padding-top: 2%;
}

.experience-buttons {
    button {
        padding: 10px 30px;
        border-radius: 50px;
        border: 0;
        background-color: rgb(20, 20, 20);
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 15px;
        transition: all .5s ease;
        cursor: pointer;
    }

    button:hover {
        letter-spacing: 3px;
        background: linear-gradient(135deg, #e14848, #ff02d5);
        color: hsl(0, 0%, 100%);
    }
}

.expe {
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
}

.experience-section {
    margin-top: 1%;
}

.experience-buttons {
    margin-bottom: 3%;
}



.experience-content {
    display: flex;
    flex-direction: row;
}

.experience-item {
    display: none;
    background-color: #151515;
    flex: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Smooth transition for opacity */
}


.experience-item {
    p {
        background-color: #0a0a0a;
    }


}








.sec3 {
    display: flex;
    position: relative;
    align-items: center;
    padding: 5% 10%;

    .left {
        h1 {
            font-weight: 100;
            color: var(--maincolor);
            font-size: 4rem;
        }

        h2 {
            font-weight: 500;
        }

        p {
            line-height: 2rem;
        }

        button {
            padding: 10px 30px;
            border-image: linear-gradient(to right, #f32170,
                    #ff6b08, #cf23cf, #eedd44) 30;
            border-image-slice: 1;

            border-radius: 50px;
            cursor: pointer;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 15px;
            margin: 1rem;
        }
    }
}



.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.container {
    height: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card>.row>.icon {
    background: linear-gradient(to right, #f32170,
            #ff6b08);
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card>.row>.icon:hover{
    background: linear-gradient(135deg, #e14848, #ff02d5);
    transition: 100ms;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked+label {
    width: 600px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./images/angular.png');
}

.card[for="c2"] {
    background-image: url('./images/photoshop.png');
}

.card[for="c3"] {
    background-image: url('./images/tailwind.png');
}

.card[for="c4"] {
    background-image: url('./images/React.png');
}



.as-text {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    h1 {
        text-align: center;
        font-weight: 100;
        font-size: 2.3rem;
    }
}




.foot {

    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 5%;
}

.foot p,
a,
strong,
i {
    color: white;

}

.msg {
    width: 40%;
}

.ct {
    display: flex;
    flex-direction: column;
}

.address {
    display: flex;
    flex-direction: column;
}

.copy {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}